.opcoes_lista{  
    display: flex;
}
.opcoes{
    display: flex;
    align-items: center;
}

.botao1{
    justify-content: center;
}

.imagem{
    width: 150px;
    padding-top: 10px;

}
.area{
    border: 2px black solid;
    border-radius: 20px;
    background-color: lightblue;
    width: 70vw;
    margin: auto;
}