.tabela{
    margin: 0 20px;
    border: black 5px solid;
}
.main .titles{
    display: flex;
    justify-content: center;
}
h1{
    background-color: lightblue;
}
th,h1{
    text-align: center;
}
tr{
    background-color: white;
}
th{
    background-color: lightgray;
}