.informacoes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.informacoes div{
    border: 2px white solid;
    width: 40vw;
}
.informacoes h2{
    text-align: center;
}
section{
    margin: 20px;
}
.titulo{
    text-align: center;
}
.botao{
    background-color: navy;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    }
.linha{
    display: flex;
}