.opcoes_lista{
    
    display: flex;
}

.opcoes{

    display: flex;
    align-items: center;

}

.teste{

    display: flex;

}

.botao1{

    justify-content: center;

}

.imagem{

    width: 20%;
    padding-top: 10px;

}

.descricao{

    width: 500px;
    height: 150px;

}